.home-menu {
  overflow: hidden;
  padding: 0.5em;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.10);
}

.home-menu {
  /* background: #236; */
  background: transparent;
}

.pure-menu.pure-menu-fixed {
  /* Fixed menus normally have a border at the bottom. */
  border-bottom: none;
  /* I need a higher z-index here because of the scroll-over effect. */
  z-index: 5;

  position: float;
  top: 0;
  left: 0;
  right: 9;
}

.home-menu .pure-menu-heading {
  color: white;
  font-weight: 400;
  font-size: 120%;
}

.home-menu .pure-menu-selected a {
  color: white;
}

.pure-menu-selected>.pure-menu-link,
.pure-menu-selected>.pure-menu-link:visited {
  color: #535bf2
}

.home-menu a {
  color: white;
  transition: color 0.3s ease;
}

.home-menu li a:hover,
.home-menu li a:focus {
  background: none;
  border: none;
  color: #535bf2;
}

.puff-puff-logo {
  width: 1rem;
  height: 1rem;
  margin-top: auto;
  margin-bottom: auto;
  background: url('https://raw.githubusercontent.com/PuffPuffDev/puff_puff_brand/main/logos/dp_white.svg') no-repeat center center;
  background-size: contain;
  top: 50%;
  bottom: 50%;
  display: block;
  /* position: absolute; */
}

@media only screen and (max-width: 375px) {
  .puff-puff-logo {
    visibility: hidden;
    position: absolute;
  }
}