.hologramWave {
  position: absolute;
  width: 150%;
  height: 100%;
  left: -25%;
  bottom: 0;
  pointer-events: none;
  mix-blend-mode: screen;
  z-index: -1;
  animation: slide 3s ease-in-out infinite alternate;
  animation: scale 8s infinite alternate;
  background: #000;
  /* background: linear-gradient(to bottom, rgba(20, 18, 24, 0.4), rgba(26, 26, 26, 0.1)); */
  /* background: linear-gradient(to bottom, rgba(0, 0, 255, 0.4), rgba(0, 0, 255, 0.1)); */
}

@keyframes slide {
  0% {
    transform: translateX(-25%);
  }

  50%,
  100% {
    transform: translateX(25%);
  }
}

@keyframes scale {

  0%,
  100% {
    transform: scale(1.5);
  }

  50% {
    transform: scale(2);
  }
}